[submodule "open-webui"]
	path = open-webui
	url = https://github.com/ai-cfia/open-webui.git
[submodule "gpt-researcher"]
	path = gpt-researcher
	url = https://github.com/ai-cfia/gpt-researcher.git
[submodule "litellm"]
	path = litellm
	url = https://github.com/ai-cfia/litellm
[submodule "servers"]
	path = servers
	url = https://github.com/modelcontextprotocol/servers.git
[submodule "MCP-Bridge"]
	path = MCP-Bridge
	url = https://github.com/SecretiveShell/MCP-Bridge.git
[submodule "semanticworkbench"]
	path = semanticworkbench
	url = https://github.com/microsoft/semanticworkbench.git
